* {
	box-sizing: border-box;
	/*border: 1px solid red;*/
}


/* * * * * * * * * * * * * * Base / Mobile * * * * * * * * * * * * * * * */
body {
	margin-top: 100px;
	/*background: #191a1a;*/
		 /* darker #252727; */ /* light #2F3131;/*  /*426E86;*/   /*F8F1E5;*/
	background: #252727; 
}

#banner {
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	background: rgb(42, 70, 85);/*#426E86; */
	width: 100%;
	padding: 10px;
	padding-bottom: 0;
	box-shadow: 0 0 10px #426E86;
	z-index: 10;
}

#banner h1 {
	color: #2F3131;
	text-shadow: #F9BA32 0 0 5px;
	margin: 0;
	font-size: 40px;
	display: inline-block;
}

.search-form {
	display: inline-block;
	width: 100%;
	padding: 5px 0 0;
}

#query {
	width: 100%;
	background: #F8F1E5;
	border: none;
}

#query:active{
	box-shadow: 0 0 10px black;
}

#submit {
	background: rgb(42, 70, 85);
	width: 40px;
	height: 40px;
	margin-top: 3px;
	opacity: none;
	border: none;
	padding: 0;
}

#search-glass {
	fill: #F9BA32;
	height: 30px;
	width: auto;
	stroke-opacity: none;
}

#search-glass:active {
	filter: drop-shadow(0 0 2px #000);
}


.landing {
	max-width: 1000px;
	margin: auto;
	text-align: center;
}

.landing h3,
.landing h4,  
.landing h6 {
	margin: 0;
	color: #F8F1E5;
}

.landing ul {
	text-align: center;
}

.landing li{
	display: inline-block;
	list-style-type: none;
	/*margin: 10px 5px;*/
}


.landing img:active {
	box-shadow: 0 0 20px #F8F1E5; 
	transition: all 0.6s ease 0s;
	transform: translate3d(-2px, -2px, 0px);
}


.main-header {
	color: rgb(42, 70, 85);
	display: inline-block;
	margin: 10px auto;
	text-shadow: 0 0 15px #F9BA32;
}

.movie-poster {
	max-width: 220px;
	width: 166px;
	height: 236px;
	box-shadow: 0 0 15px #426E86;
}

.landing {
	border: 1px solid white;
}

.icon {
	display: inline;
	width: 45px;
	height: auto;
	border-radius: 8px;
}

.rating-icon {
	width: 30px;
	height: auto;
}

.rotten {
	height: 18px;
}

.hidden {
	display: none;
}

@media only screen and (max-width: 415px){
	#banner {
		position: fixed;
	}

	main {
		width: 100%;
		margin-top: 128px;
		border: 1px solid blue;
	}

	.poster {
		display: inline-block;
		margin-bottom: 20px;
	}
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */



/*@media only screen and (min-width: 640px){

	#banner h1 {
		font-size: 20px;
	}

	main {
		
	}
	
}*/

/* * * * * * * * * * * * *    DESKTOP   * * * * * * * * * * * * * * */
@media only screen and (min-width: 660px){
	#banner {
		padding: 0;
		display: table;
	}

	#logo{
		display: table-cell;
		vertical-align: middle;
	}

	.search-form {
		width: auto;
		margin-left: 75px;
	}

	#query {
		width: 300px;
		/*margin-left: */
		margin-bottom: 30px;
	}

	#submit {
		width: auto;
		height: auto;
		border: none;
	}

	#query:active{
		box-shadow: 0 0 10px black;
	}

	#search-glass {
		transform: translateX(-5px) translateY(8px);
	}

	#search-glass:active {
		filter: drop-shadow(0 0 2px #000);
	}

	.container {
		max-width: 900px;
		margin: auto;
	}

	
	 /*   Detail Page  */
	#detail-page {
		color: #F8F1E5;
		position: relative;
		margin-top: 30px;
		/*border: 1px solid white;*/
		height: 700px;
	}

	#detail-page dd{
		margin-left: 0;
		display: inline-block;
		vertical-align: top;
	}


	#detail-page a {
		text-decoration: none;
	}

	#detail-page a:link {
		color: #F8F1E5;
	}

	#detail-page a:visited {
		color: aqua;
	}

	#movie-content {
		position: relative;
		margin-top: 30px;
	}

	#detail-poster-container {
		position: absolute;
		top: 0;
		display: inline-block;
		width: 240px;
		font-size: 0;
	}

	#poster-title {
		border: 1px solid blue;
		display: inline-block;
		float: left;
		text-align: center;
		width: 105px;
		padding-left: 4px;
		font-size: 15px;
	}


	#movie-ratings {
		border: 1px solid red;
		display: inline-block;
		float: right;
		height: 50px;
		font-size: 15px;
	}

	

	/*  Streaming Options  */
		#stream-options {
			display: inline-block;
			/*position: absolute;*/
			color: #F8F1E5;
			top: 0;
			right: 0;
			margin-bottom: 5px;
			margin-left: 30%;
			padding: 5px;
			/*border: 1px solid white;*/
			width: 70%;
		}


		#stream-options dl {
			/*margin: 0;*/
		}

		#web-purch-srcs > dd {
			margin: 0 3px;;
		}

		#stream-options dd label{
			display: block;
			font-size: 10px;
			cursor: pointer;
		}

		#stream-options > label {
			display: block;
			margin-bottom: 10px;
		}


		#stream-options dl.prices dd{
			display: block;
		}

		.prices dd {
			display: block;
		}


		#stream-options > dl {
			position: relative;
			text-align: left;
			/*border-bottom: 1px solid white;*/
			padding-left: 30px;
			overflow: hidden;
			padding: 10px;
			background: rgba(42, 70, 85, 0.3);/*gba(248, 241, 229, 0.6);*/
			border-radius: 5px;
			/*box-shadow: 0 0 15px 3px black inset;*/
			box-shadow: 0 0 15px 1px black inset;
		}

		#web-purch-srcs > dd,
		#web-sub-srcs > dd,
		#web-free-srcs > dd,
		#web-tv-srcs > dd {
			display: table;
		}

		#web-purch-srcs dt,
		#web-sub-srcs dt,
		#web-free-srcs dt,
		#web-tv-srcs dt {
			/*position: fixed;*/
		}

		#web-purch-srcs dl,
		#web-sub-srcs dl,
		#web-free-srcs dl,
		#web-tv-srcs dl {
			display: table-cell;
			vertical-align: middle;
		}
		
	
		#stream-options .slick-next,
		#stream-options .slick-prev {
			z-index: 5;
			top: 20%;
			width: 20px;
		}

		#stream-options .slick-next {
			right: 10px;
		}


		#stream-options .slick-prev {
			left: 0;
		}

		.slick-prev:before, .slick-next:before { 
			font-family: "slick"; 
			font-size: 40px; 
			line-height: 1; 
			color: #f9ba32; 
			opacity: .9; 
			-webkit-font-smoothing: antialiased; 
			-moz-osx-font-smoothing: grayscale; 
		}   

		.slick-prev:before { 
			font-family: FontAwesome;
			content: "\f053"; 
		}
		
		.slick-next:before { 
			font-family: FontAwesome;
			content: "\f054";  
		}

	/* ********* Movie metaData ********* */	

	#iframe-container {
		width: 650px;
		height: 366px;
		float: right;
		background: rgba(0,0,0,0.01);
		overflow: hidden;
		border: 1px solid red;
	}

	#trailer {
		display: block;
		width: 100%;
		height: 100%;
		border: none;
		overflow: hidden;
		 -webkit-transform: scale(0.75);
        -webkit-transform-origin: 0 0;
		border: 1px solid white;
	}

	

	/* *********Carrousel Styling********* */	
	.carousel-container {
		background: rgba(42, 70, 85, 0.5);
		width: 95%;
		overflow: hidden;
		margin: 0 auto;
		border-radius: 15px;
	}

	.carousel-container img {
		box-shadow: 0 0 16px 2px rgba(0,0,0,0.5);
	}

	#detail-page li{
		display: inline-block;
		z-index: 2;
		width: auto;
	}

	/*li.slick-slide.slick-active {
		width: auto;
	}*/

	#detail-page li img:hover{
		box-shadow: 0 0 20px #F8F1E5; 
		 -webkit-transform:scale(1.05);
		transition: all 0.3s ease 0s;
	}

	li.slick-dotted.slick-slider
	{
		margin: 0 3px;
		padding: 10px;
	}

	.carousel-container .slick-next {
		/*right: 5px;*/
	}
	

	.carousel-container .slick-prev {
		/*left: 5px;*/
	}

	.carousel-container .slick-next,
	.carousel-container .slick-prev {
		top: 10%;
		z-index: 5;
	}


	/* *********************************** */	

	.landing img:hover {
		box-shadow: 0 0 20px #F8F1E5; 
		transition: all 0.6s ease 0s;
		transform: translate3d(-3px, -3px, 0px);
	}
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/*
Modern & Urban -- Current
#F9BA32 sunshine
#426E86 steel blue
#F8F1E5 bone
#2F3131 coal

Unique and Striking
#CF6766  Crimson Sky
#031424	 Ultramarine
#30415D	 Indigo
#8EAEBD  Light Blue
*/